.container {
    display: grid;
    grid-template-columns:auto auto auto;
    height: 400px;
    gap: 20px;
    padding: 10px;
    background-color:red;
    grid-template-rows: 100px;
}
.box {
    background-color:palevioletred;
    font-size: larger;

}